@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;700&display=swap');


html {
    font-size: 12px;
    --color-white: white;
    --color-black: black;
    --color-grey: #CCCCCC;
}
* {
    margin: 0;
    padding: 0;
    border: 0;
}
a {
    text-decoration: none;
}

main {
    margin: 20vh auto;
    width: 50vw;
    height: 45vh;
    background: #FFB084;
    border-radius: 20px;
    box-sizing: border-box;
    padding: 2% 2%;
}
.cards {
    display:grid ;
    grid-template-columns: repeat(3 , 1fr);
    grid-template-rows: repeat(11 , 1fr);
    gap: 4%;
    margin: 0 auto;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    border-radius: 20px;
}

.cards > div {
    background-color: var(--color-white);
    border-radius: 20px;
    box-sizing: border-box;
    font-family: 'Work Sans';
    font-weight: 700;
    font-size: 1.17rem;
}
.cards > div  span {
    font-weight: 400;
}
.box_1 {
    padding: 6% 10% 0;    
    grid-row-start: 1;
    grid-row-end: 10;
    display: flex;
    flex-direction: column;
    font-weight: 700;
}
.box_1 > div{
    padding-bottom: 3%;
}
.box_1 > div:first-child {
    font-weight: 700;
    font-size:2rem;
    text-align: center;
}
.box_1 > div:nth-child(2) {
    margin: 0 auto;
    width: 50%;
    height: 45%;
    background-image: url('../img/Ellipse.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;

}
.box_1 > div:nth-child(3) {
    font-weight: 700;
    display: flex;
    justify-content: space-between;
}
.box_2 {
    grid-row-start: 1;
    grid-row-end: 4;
    grid-column-start: 2;
    grid-column-end: 4;
    padding: 2% 6%;    
}
.box_2 > div:first-child{
    padding-bottom: 1.5%;
}
.box_3 {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 4;
    grid-row-end: 7;
}
.box_4 {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 4;
    grid-row-end: 9;
}
.box_5 {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 7;
    grid-row-end: 13;  
}

.box_6 {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 10;
    grid-row-end: 13;  
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0 15%;
}
.box_7 {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 9;
    grid-row-end: 13;    
}

.box_3 , .box_4 , .box_5 {
    padding: 5% 10%;     
}
.bot_p > div:first-child {
    padding-bottom: 2.5%;
}
.box_2 ,
.box_3 ,
.box_4 ,
.box_7 span , li{
    font-weight: 400;
}
.collum_box1 , .collum_box3 {
    width: 65%;
    margin: 0 auto;
}
.collum_box2 {
    width: 70%;
    margin: 0 auto;   
}

.box_1 ,
.box_2 ,
.box_6 ,
.box_7 {
    box-shadow: 0.75rem 0.75rem 0px #000000;    
}
.box_3 {
    box-shadow: 0.75rem 0.75rem 0px green;   
}
.box_3 > div:first-child {
   color: green; 
}
.box_4 {
    box-shadow: 0.75rem 0.75rem 0px red;   
}
.box_4 > div:first-child {
   color: red; 
}
.box_5 {
    box-shadow: 0.75rem 0.75rem 0px blue;   
}
.box_5 > div:first-child {
   color: blue; 
}
.box_7 {
    padding: 7% 10%;  
}
